<?xml version="1.0" encoding="utf-8"?>
<nomad_env>
    <development>
        <serverports>
            <notifier_server_port>12010</notifier_server_port>
            <passport_server_port>12020</passport_server_port>
            <management_server_port>12030</management_server_port>
            <userimport_server_port>12032</userimport_server_port>
            <behavior_server_port>12040</behavior_server_port>
            <checkin_server_port>12050</checkin_server_port>
            <mongocommon_server_port>12060</mongocommon_server_port>
            <notice_server_port>12070</notice_server_port>
            <notice_v3_server_port>12072</notice_v3_server_port>
            <album_server_port>12080</album_server_port>
            <!--<album_v3_server_port>12082</album_v3_server_port>-->
            <store_server_port>12090</store_server_port>
            <homework_server_port>12100</homework_server_port>
            <!--<homework_v3_server_port>12102</homework_v3_server_port>-->
            <mongo_nodejs_server_port>12110</mongo_nodejs_server_port>
            <announce_server_port>12120</announce_server_port>
            <util_server_port>12130</util_server_port>
            <passport_server_websocket_port>12140</passport_server_websocket_port>
            <coin_server_port>12150</coin_server_port>
            <coin_v3_server_port>12152</coin_v3_server_port>
            <!--<recipe_server_port>12160</recipe_server_port>-->
            <!--<recipe_v3_server_port>12162</recipe_v3_server_port>-->
            <behaviortask_server_port>12170</behaviortask_server_port>
            <checkintask_server_port>12180</checkintask_server_port>
            <!--<camera_server_port>12190</camera_server_port>-->
            <!--<chat_nodejs_server_port>12200</chat_nodejs_server_port>-->
            <!--<chat_server_port>12210</chat_server_port>-->
            <pushinfo_server_port>12220</pushinfo_server_port>
            <pushinfo_register_server_port>12230</pushinfo_register_server_port>
            <!--<day_flow_server_port>12240</day_flow_server_port>-->
            <!--<boss_album_server_port>12250</boss_album_server_port>-->
            <huivopay_server_port>12260</huivopay_server_port>
            <course_server_port>12270</course_server_port>
            <user_total_info_server_port>12280</user_total_info_server_port>
            <advertisement_server_port>12290</advertisement_server_port>
            <management_v4_server_port>12300</management_v4_server_port>
            <xuexue_server_port>12310</xuexue_server_port>
            <update_server_port>12320</update_server_port>
            <course_accomplish_server_port>12330</course_accomplish_server_port>
            <cointogift_server_port>12340</cointogift_server_port>
            <cointocash_server_port>12350</cointocash_server_port>
            <userpayconfig_server_port>12360</userpayconfig_server_port>
            <activity_server_port>12370</activity_server_port>
            <novice_pack_server_port>12356</novice_pack_server_port>
            <course_table_server_port>12357</course_table_server_port>
            <message_server_port>12410</message_server_port>
            <leader_server_port>12420</leader_server_port>
            <school_server_port>12430</school_server_port>
            <summary_server_port>12440</summary_server_port>
            <common_notice_server_port>12450</common_notice_server_port>
            <growth_archive_server_port>12500</growth_archive_server_port>
            <openpay_server_port>12510</openpay_server_port>
        </serverports>

        <hw_s3>
            <access_key>F81A08BFC00D629F3BF6</access_key>
            <secret_key>I6Y4NLgA1wprGquFbz8wn7Mw7nYAAAFIwA1in0or</secret_key>
            <domain>s3.hwclouds.com</domain>
            <read_port>80</read_port>
        </hw_s3>

        <aws_s3>
            <access_key_id>AKIAOJ2KZSFSJCIZKJ5A</access_key_id>
            <secret_access_key>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</secret_access_key>
            <domain>s3.cn-north-1.amazonaws.com.cn</domain>
            <protocol>https</protocol>
            <read_port>80</read_port>
        </aws_s3>

        <s3>
            <save_dir>/tmp</save_dir>
        </s3>

        <zookeeper>
            <host>test102:2181,test103:2181,test104:2181</host>
            <connect-timeout>60000</connect-timeout>
            <session-timeout>600000</session-timeout>
        </zookeeper>

        <rabbit>
            <host>223.202.31.152</host>
            <port>5672</port>
            <username>huivo</username>
            <password>huivo</password>
            <vhost>/</vhost>
        </rabbit>

        <coredb>
            <core_db_port>5432</core_db_port>
            <core_db_host>223.202.119.167</core_db_host>
            <core_db_name>huivo_bbj</core_db_name>
            <core_db_user>huivo</core_db_user>
            <core_db_pwd>huivo</core_db_pwd>
        </coredb>

        <servicedb>
            <service_db_port>5432</service_db_port>
            <service_db_host>223.202.119.167</service_db_host>
            <service_db_name>huivo_bbj</service_db_name>
            <service_db_user>huivo</service_db_user>
            <service_db_pwd>huivo</service_db_pwd>
        </servicedb>

        <mongo>
            <mongo_db_name>huivo</mongo_db_name>
            <mongo_db_hosts>223.202.119.158</mongo_db_hosts>
            <mongo_db_ports>27017</mongo_db_ports>
            <mongo_db_poolsize>10</mongo_db_poolsize>
            <mongo_db_blocksize>10</mongo_db_blocksize>
        </mongo>
        <stat_mongo>
            <stat_mongo_db_name>huivo</stat_mongo_db_name>
            <stat_mongo_db_hosts>223.202.119.158</stat_mongo_db_hosts>
            <stat_mongo_db_ports>27017</stat_mongo_db_ports>
            <stat_mongo_db_poolsize>10</stat_mongo_db_poolsize>
            <stat_mongo_db_blocksize>10</stat_mongo_db_blocksize>
        </stat_mongo>

        <redis>
            <redis_db_host>223.202.31.225</redis_db_host>
            <redis_db_port>6379</redis_db_port>
        </redis>

        <coreserver>
            <core_server_host>223.202.119.167</core_server_host>
        </coreserver>

        <serviceserver>
            <service_server_host>223.202.119.167</service_server_host>
        </serviceserver>

        <notifierserver>
            <notifier_server_host>223.202.31.152</notifier_server_host>
        </notifierserver>

        <xinge_config>
            <parent_android_access_id>2100090604</parent_android_access_id>
            <parent_android_access_key>A888NDAA1K6A</parent_android_access_key>
            <parent_android_secret_key>dfe69f75528753feea0c4ebb3ed8fbde</parent_android_secret_key>
            <teacher_android_access_id>2100090657</teacher_android_access_id>
            <teacher_android_access_key>A1FIL69L5B2L</teacher_android_access_key>
            <teacher_android_secret_key>11422b76aae125752d30acaf35c45fd7</teacher_android_secret_key>

            <parent_ios_access_id>2200090303</parent_ios_access_id>
            <parent_ios_access_key>I8V512YWI8GH</parent_ios_access_key>
            <parent_ios_secret_key>33dd99cc3cedf3ecfed577560430e7f8</parent_ios_secret_key>
            <teacher_ios_access_id>2200090301</teacher_ios_access_id>
            <teacher_ios_access_key>I5LGX1LU746G</teacher_ios_access_key>
            <teacher_ios_secret_key>adab4cc6ede9e8f54751dc1f415fbba9</teacher_ios_secret_key>
        </xinge_config>
    </development>

    <production>
        <serverports>
            <notifier_server_port>12010</notifier_server_port>
            <passport_server_port>12020</passport_server_port>
            <management_server_port>12030</management_server_port>
            <userimport_server_port>12032</userimport_server_port>
            <behavior_server_port>12040</behavior_server_port>
            <checkin_server_port>12050</checkin_server_port>
            <mongocommon_server_port>12060</mongocommon_server_port>
            <notice_server_port>12070</notice_server_port>
            <notice_v3_server_port>12072</notice_v3_server_port>
            <album_server_port>12080</album_server_port>
            <!--<album_v3_server_port>12082</album_v3_server_port>-->
            <store_server_port>12090</store_server_port>
            <homework_server_port>12100</homework_server_port>
            <!--<homework_v3_server_port>12102</homework_v3_server_port>-->
            <mongo_nodejs_server_port>12110</mongo_nodejs_server_port>
            <announce_server_port>12120</announce_server_port>
            <util_server_port>12130</util_server_port>
            <passport_server_websocket_port>12140</passport_server_websocket_port>
            <coin_server_port>12150</coin_server_port>
            <coin_v3_server_port>12152</coin_v3_server_port>
            <!--<recipe_server_port>12160</recipe_server_port>-->
            <!--<recipe_v3_server_port>12162</recipe_v3_server_port>-->
            <behaviortask_server_port>12170</behaviortask_server_port>
            <checkintask_server_port>12180</checkintask_server_port>
            <!--<camera_server_port>12190</camera_server_port>-->
            <!--<chat_nodejs_server_port>12200</chat_nodejs_server_port>-->
            <!--<chat_server_port>12210</chat_server_port>-->
            <pushinfo_server_port>12220</pushinfo_server_port>
            <pushinfo_register_server_port>12230</pushinfo_register_server_port>
            <!--<day_flow_server_port>12240</day_flow_server_port>-->
            <!--<boss_album_server_port>12250</boss_album_server_port>-->
            <huivopay_server_port>12260</huivopay_server_port>
            <course_server_port>12270</course_server_port>
            <user_total_info_server_port>12280</user_total_info_server_port>
            <advertisement_server_port>12290</advertisement_server_port>
            <management_v4_server_port>12300</management_v4_server_port>
            <xuexue_server_port>12310</xuexue_server_port>
            <update_server_port>12320</update_server_port>
            <course_accomplish_server_port>12330</course_accomplish_server_port>
            <cointogift_server_port>12340</cointogift_server_port>
            <cointocash_server_port>12350</cointocash_server_port>
            <userpayconfig_server_port>12360</userpayconfig_server_port>
            <activity_server_port>12370</activity_server_port>
            <novice_pack_server_port>12356</novice_pack_server_port>
            <course_table_server_port>12390</course_table_server_port>
            <message_server_port>12410</message_server_port>
            <leader_server_port>12420</leader_server_port>
            <school_server_port>12430</school_server_port>
            <summary_server_port>12440</summary_server_port>
            <common_notice_server_port>12450</common_notice_server_port>
            <growth_archive_server_port>12500</growth_archive_server_port>
            <openpay_server_port>12510</openpay_server_port>
        </serverports>
        <coredb>
            <core_db_port>5432</core_db_port>
            <core_db_host>pghost</core_db_host>
            <core_db_name>huivo_bbj</core_db_name>
            <core_db_user>huivo</core_db_user>
            <core_db_pwd>c25a64d649781304f5e543b17b0109a9</core_db_pwd>
        </coredb>
        <servicedb>
            <service_db_port>5432</service_db_port>
            <service_db_host>pghost</service_db_host>
            <service_db_name>huivo_bbj</service_db_name>
            <service_db_user>huivo</service_db_user>
            <service_db_pwd>c25a64d649781304f5e543b17b0109a9</service_db_pwd>
        </servicedb>
        <mongo>
            <mongo_db_name>huivo</mongo_db_name>
            <mongo_db_hosts>mongohost</mongo_db_hosts>
            <mongo_db_ports>27017</mongo_db_ports>
            <mongo_db_poolsize>10</mongo_db_poolsize>
            <mongo_db_blocksize>10</mongo_db_blocksize>
        </mongo>
        <stat_mongo>
            <stat_mongo_db_name>huivo_stat</stat_mongo_db_name>
            <stat_mongo_db_hosts>mongohost</stat_mongo_db_hosts>
            <stat_mongo_db_ports>27017</stat_mongo_db_ports>
            <stat_mongo_db_poolsize>10</stat_mongo_db_poolsize>
            <stat_mongo_db_blocksize>10</stat_mongo_db_blocksize>
        </stat_mongo>

        <hw_s3>
            <access_key>F81A08BFC00D629F3BF6</access_key>
            <secret_key>I6Y4NLgA1wprGquFbz8wn7Mw7nYAAAFIwA1in0or</secret_key>
            <domain>s3.hwclouds.com</domain>
            <read_port>80</read_port>
        </hw_s3>

        <aws_s3>
            <access_key_id>AKIAOJ2KZSFSJCIZKJ5A</access_key_id>
            <secret_access_key>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</secret_access_key>
            <domain>s3.cn-north-1.amazonaws.com.cn</domain>
            <protocol>https</protocol>
            <read_port>443</read_port>
        </aws_s3>

        <s3>
            <save_dir>/home/huivo/s3_temp</save_dir>
        </s3>

        <zookeeper>
            <host>mongo01:2181,mongo02:2181,mongo03:2181</host>
            <connect-timeout>60000</connect-timeout>
            <session-timeout>600000</session-timeout>
        </zookeeper>

        <rabbit>
            <host>rmqserver</host>
            <port>5672</port>
            <username>huivo</username>
            <password>ee3af767536b6823fcda8eb805624485</password>
            <vhost>/</vhost>
        </rabbit>


        <redis>
            <redis_db_host>redishost</redis_db_host>
            <redis_db_port>22121</redis_db_port>
        </redis>
        <coreserver>
            <core_server_host>servicehost</core_server_host>
        </coreserver>
        <serviceserver>
            <service_server_host>servicehost</service_server_host>
        </serviceserver>
        <notifierserver>
            <notifier_server_host>notifierhost</notifier_server_host>
        </notifierserver>
        <xinge_config>
            <parent_android_access_id>2100090302</parent_android_access_id>
            <parent_android_access_key>AI28595ULBDH</parent_android_access_key>
            <parent_android_secret_key>f2accfd97b6be70211de6d2f7d50c27b</parent_android_secret_key>
            <teacher_android_access_id>2100090300</teacher_android_access_id>
            <teacher_android_access_key>A4TK5T5G95MI</teacher_android_access_key>
            <teacher_android_secret_key>980e77deed51ac133dace33671dfebde</teacher_android_secret_key>

            <parent_ios_access_id>2200090303</parent_ios_access_id>
            <parent_ios_access_key>I8V512YWI8GH</parent_ios_access_key>
            <parent_ios_secret_key>33dd99cc3cedf3ecfed577560430e7f8</parent_ios_secret_key>
            <teacher_ios_access_id>2200090301</teacher_ios_access_id>
            <teacher_ios_access_key>I5LGX1LU746G</teacher_ios_access_key>
            <teacher_ios_secret_key>adab4cc6ede9e8f54751dc1f415fbba9</teacher_ios_secret_key>
        </xinge_config>
    </production>

    <test>
        <serverports>
            <notifier_server_port>12010</notifier_server_port>
            <passport_server_port>12020</passport_server_port>
            <management_server_port>12030</management_server_port>
            <userimport_server_port>12032</userimport_server_port>
            <behavior_server_port>12040</behavior_server_port>
            <checkin_server_port>12050</checkin_server_port>
            <mongocommon_server_port>12060</mongocommon_server_port>
            <notice_server_port>12070</notice_server_port>
            <notice_v3_server_port>12072</notice_v3_server_port>
            <album_server_port>12080</album_server_port>
            <!--<album_v3_server_port>12082</album_v3_server_port>-->
            <store_server_port>12090</store_server_port>
            <homework_server_port>12100</homework_server_port>
            <!--<homework_v3_server_port>12102</homework_v3_server_port>-->
            <mongo_nodejs_server_port>12110</mongo_nodejs_server_port>
            <announce_server_port>12120</announce_server_port>
            <util_server_port>12130</util_server_port>
            <passport_server_websocket_port>12140</passport_server_websocket_port>
            <coin_server_port>12150</coin_server_port>
            <coin_v3_server_port>12152</coin_v3_server_port>
            <!--<recipe_server_port>12160</recipe_server_port>-->
            <!--<recipe_v3_server_port>12162</recipe_v3_server_port>-->
            <behaviortask_server_port>12170</behaviortask_server_port>
            <checkintask_server_port>12180</checkintask_server_port>
            <!--<camera_server_port>12190</camera_server_port>-->
            <!--<chat_nodejs_server_port>12200</chat_nodejs_server_port>-->
            <!--<chat_server_port>12210</chat_server_port>-->
            <pushinfo_server_port>12220</pushinfo_server_port>
            <pushinfo_register_server_port>12230</pushinfo_register_server_port>
            <!--<day_flow_server_port>12240</day_flow_server_port>-->
            <!--<boss_album_server_port>12250</boss_album_server_port>-->
            <huivopay_server_port>12260</huivopay_server_port>
            <course_server_port>12270</course_server_port>
            <user_total_info_server_port>12280</user_total_info_server_port>
            <advertisement_server_port>12290</advertisement_server_port>
            <management_v4_server_port>12300</management_v4_server_port>
            <xuexue_server_port>12310</xuexue_server_port>
            <update_server_port>12320</update_server_port>
            <course_accomplish_server_port>12330</course_accomplish_server_port>
            <cointogift_server_port>12340</cointogift_server_port>
            <cointocash_server_port>12350</cointocash_server_port>
            <userpayconfig_server_port>12360</userpayconfig_server_port>
            <activity_server_port>12370</activity_server_port>
            <novice_pack_server_port>12356</novice_pack_server_port>
            <course_table_server_port>12357</course_table_server_port>
            <message_server_port>12410</message_server_port>
            <leader_server_port>12420</leader_server_port>
            <school_server_port>12430</school_server_port>
            <summary_server_port>12440</summary_server_port>
            <common_notice_server_port>12450</common_notice_server_port>
            <growth_archive_server_port>12500</growth_archive_server_port>
            <openpay_server_port>12510</openpay_server_port>
        </serverports>
        <coredb>
            <core_db_port>5432</core_db_port>
            <core_db_host>pghost</core_db_host>
            <core_db_name>huivo_bbj</core_db_name>
            <core_db_user>huivo</core_db_user>
            <core_db_pwd>huivo</core_db_pwd>
        </coredb>
        <servicedb>
            <service_db_port>5432</service_db_port>
            <service_db_host>pghost</service_db_host>
            <service_db_name>huivo_bbj</service_db_name>
            <service_db_user>huivo</service_db_user>
            <service_db_pwd>huivo</service_db_pwd>
        </servicedb>
        <mongo>
            <mongo_db_name>huivo</mongo_db_name>
            <mongo_db_hosts>mongohost</mongo_db_hosts>
            <mongo_db_ports>27017</mongo_db_ports>
            <mongo_db_poolsize>10</mongo_db_poolsize>
            <mongo_db_blocksize>10</mongo_db_blocksize>
        </mongo>
        <stat_mongo>
            <stat_mongo_db_name>huivo</stat_mongo_db_name>
            <stat_mongo_db_hosts>mongohost</stat_mongo_db_hosts>
            <stat_mongo_db_ports>27017</stat_mongo_db_ports>
            <stat_mongo_db_poolsize>10</stat_mongo_db_poolsize>
            <stat_mongo_db_blocksize>10</stat_mongo_db_blocksize>
        </stat_mongo>


        <hw_s3>
            <access_key>F81A08BFC00D629F3BF6</access_key>
            <secret_key>I6Y4NLgA1wprGquFbz8wn7Mw7nYAAAFIwA1in0or</secret_key>
            <domain>s3.hwclouds.com</domain>
            <read_port>80</read_port>
        </hw_s3>

        <aws_s3>
            <access_key_id>AKIAOJ2KZSFSJCIZKJ5A</access_key_id>
            <secret_access_key>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</secret_access_key>
            <domain>s3.cn-north-1.amazonaws.com.cn</domain>
            <protocol>https</protocol>
            <read_port>443</read_port>
        </aws_s3>

        <s3>
            <save_dir>/tmp</save_dir>
        </s3>

        <zookeeper>
            <host>t02:2181,t03:2181,t04:2181</host>
            <connect-timeout>60000</connect-timeout>
            <session-timeout>600000</session-timeout>
        </zookeeper>

        <rabbit>
            <host>rabbitmqhost</host>
            <port>5672</port>
            <username>huivo</username>
            <password>huivo</password>
            <vhost>/</vhost>
        </rabbit>


        <redis>
            <redis_db_host>redishost</redis_db_host>
            <redis_db_port>6379</redis_db_port>
        </redis>
        <coreserver>
            <core_server_host>servicehost</core_server_host>
        </coreserver>
        <serviceserver>
            <service_server_host>servicehost</service_server_host>
        </serviceserver>
        <notifierserver>
            <notifier_server_host>notifierhost</notifier_server_host>
        </notifierserver>
        <xinge_config>
            <parent_android_access_id>2100090604</parent_android_access_id>
            <parent_android_access_key>A888NDAA1K6A</parent_android_access_key>
            <parent_android_secret_key>dfe69f75528753feea0c4ebb3ed8fbde</parent_android_secret_key>
            <teacher_android_access_id>2100090657</teacher_android_access_id>
            <teacher_android_access_key>A1FIL69L5B2L</teacher_android_access_key>
            <teacher_android_secret_key>11422b76aae125752d30acaf35c45fd7</teacher_android_secret_key>

            <parent_ios_access_id>2200090303</parent_ios_access_id>
            <parent_ios_access_key>I8V512YWI8GH</parent_ios_access_key>
            <parent_ios_secret_key>33dd99cc3cedf3ecfed577560430e7f8</parent_ios_secret_key>
            <teacher_ios_access_id>2200090301</teacher_ios_access_id>
            <teacher_ios_access_key>I5LGX1LU746G</teacher_ios_access_key>
            <teacher_ios_secret_key>adab4cc6ede9e8f54751dc1f415fbba9</teacher_ios_secret_key>
        </xinge_config>
    </test>
</nomad_env>